.appHeaderContainer {
  display: flex;        
  align-items: center;   
  gap: 15px;            
}

.invoiceLogo {
  width: 50px;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: lightseagreen;
   font-weight: 600;
    font-size: x-large;
    font-family: ui-monospace;
} 